.k-tiller-item[data-v-cecb776e] {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}
.k-tiller-item:hover .k-item-cardlet .k-item-handle .k-handle-icon[data-v-cecb776e] {
  opacity: 1;
}
.k-tiller-item:hover .k-item-cardlet .k-item-content .k-content-action .k-button-icon[data-v-cecb776e] {
  opacity: 1;
}
.k-tiller-item .k-item-cardlet[data-v-cecb776e] {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.k-tiller-item .k-item-cardlet .k-item-handle[data-v-cecb776e] {
  width: 24px;
  height: 2.375rem;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}
.k-tiller-item .k-item-cardlet .k-item-handle .k-handle-icon[data-v-cecb776e] {
  width: 14px;
  height: 26px;
  opacity: 0.2;
  display: flex;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.k-tiller-item .k-item-cardlet .k-item-content[data-v-cecb776e] {
  width: 100%;
  display: flex;
  grid-auto-flow: column;
  box-shadow: var(--shadow);
  overflow: visible !important;
  border-radius: var(--rounded);
  background: var(--color-white);
  transition: all 0.3s ease-in-out;
}
.k-tiller-item .k-item-cardlet .k-item-content .k-content-display[data-v-cecb776e] {
  display: flex;
  flex-shrink: 0;
  width: 2.375rem;
  height: 2.375rem;
  overflow: hidden;
  user-select: none;
  background: var(--color-gray-600);
  border-radius: var(--rounded) 0 0 var(--rounded);
}
.k-tiller-item .k-item-cardlet .k-item-content .k-content-display .k-item-figure[data-v-cecb776e] {
  width: 2.375rem !important;
}
.k-tiller-item .k-item-cardlet .k-item-content .k-content-meta[data-v-cecb776e] {
  width: 100%;
  display: flex;
  height: 2.375rem;
  padding: 0 0.75rem;
  align-items: center;
  justify-content: space-between;
}
.k-tiller-item .k-item-cardlet .k-item-content .k-content-meta .k-meta-title[data-v-cecb776e] {
  overflow: hidden;
  font-weight: 400;
  white-space: nowrap;
  line-height: 1.125rem;
  text-overflow: ellipsis;
  font-size: var(--text-sm);
}
.k-tiller-item .k-item-cardlet .k-item-content .k-content-meta .k-meta-title .k-title-suffix[data-v-cecb776e] {
  font-weight: 400;
  white-space: nowrap;
  line-height: 1.125rem;
  font-size: var(--text-sm);
  color: var(--color-negative);
}
.k-tiller-item .k-item-cardlet .k-item-content .k-content-meta .k-meta-children[data-v-cecb776e] {
  overflow: hidden;
  font-weight: 400;
  white-space: nowrap;
  line-height: 1.125rem;
  text-overflow: ellipsis;
  font-size: var(--text-sm);
}
.k-tiller-item .k-item-cardlet .k-item-content .k-content-action[data-v-cecb776e] {
  display: flex;
  padding: 0 0.75rem;
  position: relative;
  align-items: center;
}
.k-tiller-item .k-item-cardlet .k-item-content .k-content-action .k-item-menu .k-button[data-v-cecb776e] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.k-tiller-item .k-item-cardlet .k-item-content .k-content-action .k-item-menu .k-button .k-button-icon[data-v-cecb776e] {
  width: 18px;
  height: 26px;
  opacity: 0.2;
  display: flex;
  cursor: pointer;
  transition: opacity 0.3s ease;
}.k-item-menu .k-dropdown-content,
.k-tiller-menu .k-dropdown-content {
  margin-top: 10px;
}
.k-item-menu .k-dropdown-item,
.k-tiller-menu .k-dropdown-item {
  width: 180px;
  margin-bottom: 10px;
}
.k-item-menu .k-dropdown-item .k-button-text,
.k-tiller-menu .k-dropdown-item .k-button-text {
  opacity: 1;
  width: 100%;
  display: block;
  text-align: left;
  white-space: normal;
}
.k-item-menu .k-dropdown-item .k-button-text .k-menu-divider,
.k-tiller-menu .k-dropdown-item .k-button-text .k-menu-divider {
  width: 100%;
  height: 1px;
  opacity: 0.75;
  display: flex;
  cursor: default;
  background: var(--color-white);
}
.k-item-menu .k-dropdown-item .k-button-text .k-menu-title,
.k-tiller-menu .k-dropdown-item .k-button-text .k-menu-title {
  opacity: 1;
  color: #fff;
  width: 100%;
  display: flex;
  margin-bottom: 4px;
}
.k-item-menu .k-dropdown-item .k-button-text .k-menu-title .k-menu-icon,
.k-tiller-menu .k-dropdown-item .k-button-text .k-menu-title .k-menu-icon {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}
.k-item-menu .k-dropdown-item .k-button-text .k-menu-title.k-menu-negative,
.k-tiller-menu .k-dropdown-item .k-button-text .k-menu-title.k-menu-negative {
  color: var(--color-red-400);
}
.k-item-menu .k-dropdown-item .k-button-text .k-menu-text,
.k-tiller-menu .k-dropdown-item .k-button-text .k-menu-text {
  opacity: 0.75;
  font-size: 0.675rem;
  line-height: 0.875rem;
}

/* Status */
.k-field-status {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
.k-field-status .k-field-status-icon {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}
.k-field-status .k-field-status-icon svg * {
  fill: var(--color-negative) !important;
}

/* Local */
.k-field-local {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
.k-field-local .k-field-local-icon {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}
.k-field-local .k-field-local-icon svg * {
  fill: var(--color-negative) !important;
}

/* Nestable */
.nestable {
  position: relative;
}
.nestable .nestable-list {
  row-gap: 2px;
  display: grid;
  grid-auto-flow: row;
  padding: 0 0 0 24px;
  list-style-type: none;
}
.nestable > .nestable-list {
  padding: 0;
}
.nestable .nestable-item {
  row-gap: 2px;
  display: grid;
  position: relative;
  grid-auto-flow: row;
  list-style-type: none;
}
.nestable .nestable-item:hover .nestable-item-content .k-tiller-item .k-item-cardlet .k-item-content {
  background: var(--color-gray-100);
}
.nestable .nestable-item:first-child,
.nestable .nestable-item .nestable-item-copy:first-child {
  margin-top: 0;
}
.is-dragging .nestable-list {
  pointer-events: none;
}
.is-dragging * {
  opacity: 0;
}
.is-dragging:before {
  top: 2px;
  right: 0;
  bottom: 0;
  left: 24px;
  content: "";
  position: absolute;
  border-radius: var(--rounded);
  background: var(--color-gray-300);
  transition: all 0.3s ease-in-out;
}
.nestable-drag-layer {
  left: 0;
  top: 2px;
  z-index: 100;
  position: fixed;
  pointer-events: none;
}